name: Start Runner
on: workflow_dispatch
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Runner
        run: |
          mkdir runner && cd runner
          curl -o runner.tar.gz -L https://github.com/actions/runner/releases/download/v2.317.0/actions-runner-linux-x64-2.317.0.tar.gz
          tar xzf runner.tar.gz
          ./config.sh --url https://github.com/gordonchristopher453-create/free-vps --token ${{ secrets.RUNNER_TOKEN }} --unattended --name free-vps --replace
          nohup ./run.sh > runner.log 2>&1 &
          sleep 15
          echo "Runner started!"
